@page "/settings"

<div class="content-container">
    <MudGrid Justify="Justify.FlexStart" Class="align-stretch mud-elevation-0" Spacing="5" Style="background-color: transparent">

        <MudItem xs="12" sm="6">
            <MudPaper Class="pa-6" Elevation="4">
                <MudStack>
                    <MudText Typo="Typo.h6">Gobal server commands</MudText>
                    <MudTextField @bind-Value="GlobalServerSettings.MatchCommand" Immediate=true T="string" Label="Match command" />
                    <MudTextField @bind-Value="GlobalServerSettings.OvertimeCommand" Immediate=true T="string" Label="Overtime command" />
                    <MudTextField @bind-Value="GlobalServerSettings.KnifeCommand" Immediate=true T="string" Label="Knife command" />
                    <MudTextField @bind-Value="GlobalServerSettings.PracticeCommand" Immediate=true T="string" Label="Practice command" />
                    <MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="SaveGlobalServerSettings">Save</MudButton>
                </MudStack>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6">
            <MudPaper Class="pa-6" Elevation="4">
                <MapPoolSettings>

                </MapPoolSettings>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6">
            <MudPaper Class="pa-6" Elevation="4">
                <MudStack>
                    <MudText Typo="Typo.h6">Dashboard settings</MudText>
                    <MudRadioGroup @bind-SelectedOption="@TempDashboardVisibilitySetting">
                        <MudRadio Option="@SettingsConstants.ShowFavouritesOnDashboard">Show farvourite servers on the dashboard</MudRadio>
                        <MudRadio Option="@SettingsConstants.ShowAllServersOnDashboard">Show all servers on the dashboard</MudRadio>
                    </MudRadioGroup>
                    <MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="(async () => await SaveDashboardVisibilitySetting())">Save</MudButton>
                </MudStack>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6">
            <MudPaper Class="pa-6" Elevation="4">
                <MudStack Justify="Justify.Center" Style="width: 100%">
                    <MudText Typo="Typo.h6">Dathost account</MudText>
                    <MudStack Justify="Justify.SpaceBetween" Row="true">
                        <MudPaper Elevation="0">
                            <MudTextField @bind-Value="settingsService.DathostAccount.Email" Immediate=true T="string" Label="Email Address" />
                            <MudTextField @bind-Value="settingsService.DathostAccount.Password" Immediate=true T="string" Label="Password" InputType="InputType.Password" />
                        </MudPaper>
                        <MudPaper Class="d-flex align-stretch" Elevation="0">
                            <MudStack AlignItems="AlignItems.Stretch" Justify="Justify.Center">
                                <MudButton OnClick="(async () => await SubmitDathostAccount())" Color="Color.Success" Variant="Variant.Filled" Size="Size.Medium">Connect</MudButton>
                                <DeleteBtn OnConfirm="ResetDathostAccount">Reset</DeleteBtn>
                            </MudStack>
                        </MudPaper>
                    </MudStack>
                </MudStack>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6">
            <MudPaper Class="pa-6 d-flex align-content-center" Elevation="4">
                <MudStack>
                    <MudText Typo="Typo.h6">General settings</MudText>
                    <MudSwitch T="bool" Color="@Color.Primary" Checked="@settingsService.UseDarkMode" CheckedChanged="DarkModeChanged">Use dark mode</MudSwitch>
                </MudStack>
            </MudPaper>
        </MudItem>

    </MudGrid>
</div>