<MudGrid>
    <MudItem xs="12">
        <MudStack Row="true" Justify="@Justify.SpaceBetween">
            <MudText Class="d-flex align-center" Typo="Typo.h6" >@Server.Name</MudText>
            @if (Server is DatHostCsgoServer)
            {
                <MudIconButton Class="@IconData.IconAnimationClass" Size="Size.Large" Color="@IconData.IconColor" Icon="@IconData.Icon" OnClick="@(async () => await StartStopServer.InvokeAsync())" />
            }
        </MudStack>
        <div>
            <MudDivider Class="mb-3"/>
            <MudText>Server is @Server.Status</MudText>
        </div>
    </MudItem>

    <MudItem xs="12">
            <MudText>@Server.ServerSettings.Description</MudText>
    </MudItem>

    <MudItem xs="12" sm="5">
        <MudStack>
            <MudText>Connection Ip:</MudText>
            <MudDivider />
            <MudText>@Server.ConnectionIp</MudText>
        </MudStack>
    </MudItem>
</MudGrid>

@code {
    [Parameter, EditorRequired]
    public ICsgoServer Server { get; set; }

    [Parameter, EditorRequired]
    public EventCallback StartStopServer { get; set; }

    [Parameter, EditorRequired]
    public IconData IconData { get; set; }
}